@using Entities
@model VCard
@*
<a href="/Card/QrCode/@Model.Id">Edit</a> <a href="/Card/QrCode/@Model.Id">Remove</a>*@
<div class="form-group">
    <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
</div>

<div class="card-body">
  <partial name="_VcardPartialCard",model=@Model/>
</div>